body
{
	background-image: url("../img/fon2.jpg");
}
h1
{
	font-size: 55px;
	color: #0F2191;
	font-weight: bold;
}
.content
{
	font-size: 22px;
	color: #0A1765;
	text-indent: 35px;
}
.glmenu
{
	width: 65%;
	height: 65%;
	padding: 3%;
	margin: 15 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: rgba(222, 236, 0, 0.15);
	border: 5px solid rgba(164, 133, 100, 0.95);
}
.textblock
{
	height: 58%;
	border: 15px solid rgba(164, 133, 100, 0.95);
	padding: 5%;
	overflow: auto;
	padding-top: 10px;
	margin: 20 auto;
	margin-top: -20px;
	width: 80%;
	background: rgba(222, 236, 0, 0.15);
}
.textblock2
{
	height: 63.5%;
	border: 15px solid rgba(164, 133, 100, 0.85);
	padding: 5%;
	overflow: auto;
	padding-top: 10px;
	margin: 20 auto;
	margin-top: -20px;
	width: 70%;
	background: rgba(222, 236, 0, 0.1);
}
.vnutr
{
	font-size: 55px;
}
.vnutr2
{
	font-size: 40px;
	color: #0F2191;
	font-weight: bold;
}
.vnutr3
{
	font-size: 36px;
	color: #0F2191;
	font-weight: bold;
}
.port
{
	width: 300px;
}
.portt
{
	width: 250px;
}
.cart1
{
	float: left;
}
.cart2
{
	float: right;
}
.podp
{
	font-size: 15px;
	color: #000000;
	font-style: italic;
}
.podp2
{
	font-size: 20px;
	color: #000000;
	font-style: italic;
}
.menu
{
	display:flex;
	justify-content: space-around;
	height: 50px;
	background: rgba(0, 0, 0, 0.2);
	width: 400px;
	margin: 20 auto;
	margin-top: -15px;
	align-items:center;
}
.menu2
{
	display:flex;
	justify-content: space-around;
	height: 50px;
	background: rgba(222, 236, 0, 0.2);
	width: 300px;
	margin: 20 auto;
	margin-top: -15px;
	align-items:center;
}
.ssylk
{
	font-size: 21px;
	color: #000000;
	font-style: italic;
}
.menubtn
{
	width: 420px;
}